* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

    background: linear-gradient(135deg, #ffffff, #fdaee5, #fd018b);
    color: rgb(255, 255, 255);
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.logo{
    width: 50px;
    height: 50px;
    /* position: absolute; */
    right: 100px;
}

 .frock{
    height: 90vh;
    object-fit: cover;
}
.footer {
    background: linear-gradient(135deg, #ffb6c1, #ffc0cb, #ffe4e1);
    padding-top: 50px;
    color: #5a2a2a;
    font-family: Arial, sans-serif;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    min-width: 250px;
}

.footer-logo {
    font-size: 40px;
    font-weight: bold;
    color: #d63384;
    margin-bottom: 15px;
    font-family: cursive;
}

.footer-col h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #c2185b;
}

.footer-col p {
    font-size: 17px;
    line-height: 1.8;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 12px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #5a2a2a;
    font-size: 18px;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #d63384;
    padding-left: 8px;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 17px;
    font-weight: bold;
    border-top: 2px solid #ffc0cb;
}
.title{
    text-align: center;
    margin: 40px 0;
    font-size: 36px;
    color: #000000;
}
.card{
    background-color: rgba(250, 143, 209, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    gap: 20px;
}
.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Responsive Design */

@media(max-width: 768px) {

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo {
        font-size: 34px;
    }

    .footer-col h3 {
        font-size: 24px;
    }

}
